body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: White;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  z-index: 1;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header nav {
  padding-right: 40px;
}

.headerlogo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
}

.headerlogo img {
  width: 70px;
  height: 60px;
  margin-right: 10px;
}

.headerlogo span {
  color: MediumAquamarine;
}

div {
  display: block;
  border: 1px solid black;
}

.main {
  display: flex;
  width: 1200px;
  border: 1px solid black;
  margin: 0px auto 80px auto;
  padding-top: 120px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding: 10px 0px;
}

.story {
  display: flex;
  flex-direction: column;
}

.stories {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.img-story-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  height: 300px;
}

.img-story-main span {
  margin-left: 20px;
  width: 610px;
  color: White;
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.img-story-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  width: 299px;
  height: 300px;
}

.img-story-2 span {
  width: 290px;
  color: White;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.img-story-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  width: 299px;
  height: 300px;
}

.img-story-3 span {
  width: 290px;
  color: White;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.img-story-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  width: 299px;
  height: 300px;
}

.img-story-1 span {
  width: 290px;
  color: White;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
